@{
    ViewData["Title"] = "Produto";
}

<div class="text-center">
    <h1 class="display-4">Produto</h1>
</div>

<div class="row justify-content-center">

    <div class="col-11 col-md-10 div-container">

        <div class="col-12 justify-content-end text-right">
            <a class="btn btn-secondary" asp-controller="Produto" asp-action="Index">Voltar</a>
            <a class="btn btn-info" style="color:#fff" onclick="validation()">Salvar</a>
        </div>
        <div class="col-12 div-table">
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <label for="ipt_nome">Descricao</label>
                    <input type="text" class="form-control ipt_required" id="ipt_descricao" placeholder="Digite a Descricao">
                    <small class="form-text text-muted d-none span_alert">Campo Descricao Obrigatório</small>
                </div>
                <div class="form-group col-12 col-md-6">
                    <label for="ipt_cidade">Valor Unitario</label>
                    <input type="text" class="form-control ipt_required money" id="ipt_valor" placeholder="Digite o valor">
                    <small class="form-text text-muted d-none span_alert">Campo Valor Unitario Obrigatório</small>
                </div>
            </div>
            
        </div>       
    </div>
</div>

<script src="~/js/Produto/create.js"></script>