@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Teste Campos Dealer </h2>
    <h2 class="display-4">Controle de vendas</h2>
    <h5 class="mb-5">Feito por <a href="https://simaorossy.github.io/cv/" target="_blank">Simão Rossy</a>.</h5>

    <button id="btn_sinc" class="btn btn-danger" onclick="sinc()" @ViewData["DbEmpty"]>Sincronizar</button>
    <p style="">Clique no botão acima para sincronizar o banco com a API. <br />
        Botão so ficará disponivel caso o baso estiver vazio.
    </p>
</div>
<div class="modal fade" data-backdrop="static" tabindex="-1" role="dialog" id="modal_await">
  <div class="modal-dialog" role="document">
    <div class="modal-content">      
      <div class="row modal-body justify-content-center">     
          <span class="mr-5"><b> Aguarde a sincronização</b></span>
          <span class="spinner-border mr-2 spinner-border-sm" style="width:30px; height:30px" role="status" aria-hidden="true"></span>
      </div>      
    </div>
  </div>
</div>


<script>
    function sinc() {

        $("#btn_sinc").attr('disabled', 'disabled');
        $("#modal_await").modal('show');

        $.ajax({
            url: '/Home/Sinc',
            type: 'POST',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#modal_await").modal('hide');
            },
            error: function (data) {
                console.log(data)
                $("#modal_ex").modal('hide');
                $("#modal_ex_body").html('');
                $("#modal_ex_body").append('<p>' + data.responseText.split('!')[0] + '</p>');
                $("#modal_ex").modal('show');
            }
        })
    }

</script>